USE [master]
GO
/****** Object:  Database [GAMECHOCON]    Script Date: 2018/01/19 16:55:35 ******/
CREATE DATABASE [GAMECHOCON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GAMECHOCON', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GAMECHOCON.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GAMECHOCON_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\GAMECHOCON_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GAMECHOCON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GAMECHOCON]
GO
/****** Object:  Table [dbo].[G_Adver]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Adver](
	[Id] [nvarchar](50) NOT NULL,
	[AdverScript] [nvarchar](max) NOT NULL,
	[deleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_G_Adver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Class]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Class](
	[Id] [int] NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[Grade] [int] NULL,
	[PovincialCity] [int] NULL,
	[District] [int] NULL,
	[Wards] [int] NULL,
	[Address] [nvarchar](250) NOT NULL,
	[UserCreat] [nvarchar](128) NOT NULL,
	[DateCreate] [datetime] NOT NULL,
	[DateUpdate] [datetime] NULL,
	[DeleteFlag] [bit] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_G_Class] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_ClassLesson]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_ClassLesson](
	[Id] [int] NOT NULL,
	[IdClass] [int] NULL,
	[IdLesson] [int] NULL,
 CONSTRAINT [PK_G_ClassLesson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_ClassStudent]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_ClassStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdClass] [int] NOT NULL,
	[UserLogin] [nvarchar](128) NOT NULL,
	[UserCreate] [nvarchar](128) NULL,
	[DateCreate] [nchar](10) NOT NULL,
	[DeleteFlag] [nchar](10) NULL,
	[DateUpdate] [datetime] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_G_Student_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Comment]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserCreate] [nvarchar](128) NOT NULL,
	[UserApprove] [nvarchar](128) NULL,
	[IdLesson] [int] NULL,
	[DateCreate] [datetime] NOT NULL,
	[DateUpdate] [datetime] NULL,
	[CommentTest] [nvarchar](max) NOT NULL,
	[Status] [smallint] NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
	[CountLike] [int] NOT NULL,
 CONSTRAINT [PK_G_Comment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Lesson]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Lesson](
	[id] [int] NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_G_Lesson_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Reply]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Reply](
	[Id] [int] NOT NULL,
	[IdComment] [int] NOT NULL,
	[UserCreate] [nvarchar](128) NOT NULL,
	[DateCreate] [datetime] NULL,
	[UserApprovale] [nvarchar](128) NULL,
	[ReplyText] [nvarchar](max) NOT NULL,
	[Status] [smallint] NULL,
	[DaleteFlag] [bit] NOT NULL,
	[Vertion] [timestamp] NOT NULL,
 CONSTRAINT [PK_G_Reply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Results]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Results](
	[Id] [smallint] NOT NULL,
	[Results] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_G_Results] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_RoleUser]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_RoleUser](
	[Id] [smallint] NOT NULL,
	[RoltName] [nvarchar](50) NULL,
 CONSTRAINT [PK_G_Rolt] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Status]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Status](
	[Id] [smallint] NOT NULL,
	[StatusText] [nvarchar](50) NULL,
 CONSTRAINT [PK_G_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_StudentLesson]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_StudentLesson](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdClass] [int] NOT NULL,
	[IdLesson] [int] NOT NULL,
	[IdStudent] [nvarchar](128) NULL,
	[Results] [smallint] NOT NULL,
	[UserCreate] [nvarchar](128) NOT NULL,
	[DateCreate] [datetime] NOT NULL,
	[DateUpdate] [datetime] NULL,
	[DeleteFlag] [bit] NOT NULL,
	[TimeLogIn] [datetime] NULL,
	[TimeLogOut] [datetime] NULL,
	[TimeComplete] [datetime] NULL,
	[Vertion] [timestamp] NOT NULL,
 CONSTRAINT [PK_G_Lesson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_UserActive]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_UserActive](
	[Id] [int] NOT NULL,
	[UserLog] [nvarchar](128) NOT NULL,
	[StarDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[DeleteFlag] [bit] NOT NULL,
 CONSTRAINT [PK_C_UserActive] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[G_Users]    Script Date: 2018/01/19 16:55:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[G_Users](
	[Id] [nvarchar](128) NOT NULL,
	[UserLogin] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[RoleId] [smallint] NOT NULL,
	[Country] [int] NOT NULL,
	[PovincialCity] [int] NULL,
	[District] [int] NULL,
	[Wards] [int] NULL,
	[Address] [nvarchar](256) NULL,
	[TelNumber] [nvarchar](15) NULL,
	[School] [int] NULL,
	[Grade] [int] NULL,
	[Avatar] [nvarchar](50) NULL,
	[DeleteFlag] [bit] NOT NULL,
	[DateCreate] [datetime] NOT NULL,
	[DateUpdate] [datetime] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_G_Users] PRIMARY KEY CLUSTERED 
(
	[UserLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[G_Adver] ADD  CONSTRAINT [DF_G_Adver_deleteFlag]  DEFAULT ((0)) FOR [deleteFlag]
GO
ALTER TABLE [dbo].[G_Class] ADD  CONSTRAINT [DF_G_Class_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[G_Comment] ADD  CONSTRAINT [DF_G_Comment_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[G_Comment] ADD  CONSTRAINT [DF_G_Comment_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[G_Comment] ADD  CONSTRAINT [DF_G_Comment_CountLike]  DEFAULT ((0)) FOR [CountLike]
GO
ALTER TABLE [dbo].[G_Reply] ADD  CONSTRAINT [DF_G_Reply_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[G_Reply] ADD  CONSTRAINT [DF_G_Reply_DaleteFlag]  DEFAULT ((0)) FOR [DaleteFlag]
GO
ALTER TABLE [dbo].[G_StudentLesson] ADD  CONSTRAINT [DF_G_Lesson_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[G_UserActive] ADD  CONSTRAINT [DF_C_UserActive_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[G_Users] ADD  CONSTRAINT [DF_G_Users_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[G_Users] ADD  CONSTRAINT [DF_G_Users_Country]  DEFAULT ((84)) FOR [Country]
GO
ALTER TABLE [dbo].[G_Users] ADD  CONSTRAINT [DF_G_Users_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
ALTER TABLE [dbo].[G_ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_ClassLesson_G_Class] FOREIGN KEY([IdClass])
REFERENCES [dbo].[G_Class] ([Id])
GO
ALTER TABLE [dbo].[G_ClassLesson] CHECK CONSTRAINT [FK_G_ClassLesson_G_Class]
GO
ALTER TABLE [dbo].[G_ClassLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_ClassLesson_G_Lesson] FOREIGN KEY([IdLesson])
REFERENCES [dbo].[G_Lesson] ([id])
GO
ALTER TABLE [dbo].[G_ClassLesson] CHECK CONSTRAINT [FK_G_ClassLesson_G_Lesson]
GO
ALTER TABLE [dbo].[G_ClassStudent]  WITH CHECK ADD  CONSTRAINT [FK_G_ClassStudent_G_Class] FOREIGN KEY([IdClass])
REFERENCES [dbo].[G_Class] ([Id])
GO
ALTER TABLE [dbo].[G_ClassStudent] CHECK CONSTRAINT [FK_G_ClassStudent_G_Class]
GO
ALTER TABLE [dbo].[G_ClassStudent]  WITH CHECK ADD  CONSTRAINT [FK_G_ClassStudent_G_Users] FOREIGN KEY([UserLogin])
REFERENCES [dbo].[G_Users] ([UserLogin])
GO
ALTER TABLE [dbo].[G_ClassStudent] CHECK CONSTRAINT [FK_G_ClassStudent_G_Users]
GO
ALTER TABLE [dbo].[G_Comment]  WITH CHECK ADD  CONSTRAINT [FK_G_Comment_G_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[G_Status] ([Id])
GO
ALTER TABLE [dbo].[G_Comment] CHECK CONSTRAINT [FK_G_Comment_G_Status]
GO
ALTER TABLE [dbo].[G_Reply]  WITH CHECK ADD  CONSTRAINT [FK_G_Reply_G_Comment] FOREIGN KEY([IdComment])
REFERENCES [dbo].[G_Comment] ([Id])
GO
ALTER TABLE [dbo].[G_Reply] CHECK CONSTRAINT [FK_G_Reply_G_Comment]
GO
ALTER TABLE [dbo].[G_Reply]  WITH CHECK ADD  CONSTRAINT [FK_G_Reply_G_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[G_Status] ([Id])
GO
ALTER TABLE [dbo].[G_Reply] CHECK CONSTRAINT [FK_G_Reply_G_Status]
GO
ALTER TABLE [dbo].[G_StudentLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_Lesson_G_Results] FOREIGN KEY([Results])
REFERENCES [dbo].[G_Results] ([Id])
GO
ALTER TABLE [dbo].[G_StudentLesson] CHECK CONSTRAINT [FK_G_Lesson_G_Results]
GO
ALTER TABLE [dbo].[G_StudentLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_StudentLesson_G_Class] FOREIGN KEY([IdClass])
REFERENCES [dbo].[G_Class] ([Id])
GO
ALTER TABLE [dbo].[G_StudentLesson] CHECK CONSTRAINT [FK_G_StudentLesson_G_Class]
GO
ALTER TABLE [dbo].[G_StudentLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_StudentLesson_G_Lesson] FOREIGN KEY([IdLesson])
REFERENCES [dbo].[G_Lesson] ([id])
GO
ALTER TABLE [dbo].[G_StudentLesson] CHECK CONSTRAINT [FK_G_StudentLesson_G_Lesson]
GO
ALTER TABLE [dbo].[G_StudentLesson]  WITH CHECK ADD  CONSTRAINT [FK_G_StudentLesson_G_Users] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[G_Users] ([UserLogin])
GO
ALTER TABLE [dbo].[G_StudentLesson] CHECK CONSTRAINT [FK_G_StudentLesson_G_Users]
GO
ALTER TABLE [dbo].[G_Users]  WITH CHECK ADD  CONSTRAINT [FK_G_Users_G_RoleUser] FOREIGN KEY([RoleId])
REFERENCES [dbo].[G_RoleUser] ([Id])
GO
ALTER TABLE [dbo].[G_Users] CHECK CONSTRAINT [FK_G_Users_G_RoleUser]
GO
USE [master]
GO
